//Created by jordi_2 on 12/05/2016.
extends ../layouts/default
block content
	.container
		hr
		h3 Fiche de film
		.row
			br
	each movie in data.movie
		.media
			.media-left
				a(href='#')
				img.img-fluid(src=movie.Poster, alt='Responsive image')
			.media-body
				h4.media-heading #{movie.Title}
				hr
				ul
					li Date : #{(movie.Released!=null?movie.Released.toDateString():'Inconnue')}
					li Duration : #{movie.Runtime} minutes
					li Realisator : #{movie.Director}
					li Casting : #{movie.Actors}
					li Genres : #{movie.Genre}
					li Country : #{movie.Country}
					li Rating : #{movie.imdbRating}/10
				.panel.panel-default
					.panel-heading
						h3.panel-title Synopsis
					.panel-body
						.panel-body #{movie.Plot}
